<body style="overflow: scroll;  background: linear-gradient(180deg, rgba(140, 109, 174,0.7), rgba(57, 131, 184,.5)); height: 100%;
">
  
  <a href='/' title="Go home."><h1 id="dreamlands2"> DREAMLANDS </h1> <br>
<a id="dream_feed"><% user = User.find(session[:user_id]) %>
  <% user.dreams.reverse.each do |dream| %>
  <% @dream_to_delete = dream.id %>
  <h1 id="date" style="padding-top: 5%;"><%= dream.date %></h1>
  <br>
  <h2 id="dream">With <%= dream.people %>, <%= dream.description %>.
    Because of this dream, I felt <%= dream.emotion.downcase %><br>Keywords: <%= dream.keywords %>.
    <br>
    <% if dream.interpretation != "" %>
    Interpretation: <%= dream.interpretation %>
      <% else %>
    (no interpretation given.)
      <% end %></h2>
  <br>
  <form action="/delete" method="POST">
    <input type="submit" name="deletion" value="<%=dream.id%>" style="border: solid 2px black; height: 3em; width: 2.5vw; background: url('images/trash.png') no-repeat center; color: rgba(0,0,0,.0); margin-bottom: 1%;">
  </form> 

<%  end %>
</a>
</body>